---
- name: Add Zabbix repo (EL9)
  ansible.builtin.dnf:
    name: https://repo.zabbix.com/zabbix/6.0/rhel/9/x86_64/zabbix-release-6.0-4.el9.noarch.rpm
    state: present
    disable_gpg_check: true

- name: Install Zabbix agent2
  ansible.builtin.dnf:
    name: zabbix-agent2
    state: present
    update_cache: true

- name: Configure Zabbix agent2 (server)
  ansible.builtin.lineinfile:
    path: /etc/zabbix/zabbix_agent2.conf
    regexp: '^Server='
    line: "Server={{ zabbix_server_ip }}"

- name: Configure Zabbix agent2 (serveractive)
  ansible.builtin.lineinfile:
    path: /etc/zabbix/zabbix_agent2.conf
    regexp: '^ServerActive='
    line: "ServerActive={{ zabbix_server_ip }}"

- name: Configure Zabbix agent2 hostname
  ansible.builtin.lineinfile:
    path: /etc/zabbix/zabbix_agent2.conf
    regexp: '^Hostname='
    line: "Hostname={{ inventory_hostname }}"

- name: Enable and start zabbix-agent2
  ansible.builtin.systemd:
    name: zabbix-agent2
    enabled: true
    state: started
