---
# ============================================
# Rôle : windows_ad
# Mission : AD + Sécurité Windows
# ============================================

# ---------- Vérification WinRM ----------
- name: Test WinRM connectivity
  ansible.windows.win_ping:

# ---------- Activation du pare-feu Windows ----------
- name: Enable Windows Firewall for Domain, Private and Public profiles
  ansible.windows.win_shell: |
    Set-NetFirewallProfile -Profile Domain,Private,Public -Enabled True

# ---------- Désactivation SMBv1 ----------
- name: Disable SMBv1
  ansible.windows.win_feature:
    name: FS-SMB1
    state: absent

# ---------- Désactiver le compte Guest ----------
- name: Disable Guest account
  ansible.windows.win_user:
    name: Guest
    account_disabled: true

# ---------- Politique de mot de passe ----------
- name: Configure password security policy
  ansible.windows.win_shell: |
    net accounts /minpwlen:12
    net accounts /maxpwage:30
    net accounts /minpwage:1
    net accounts /uniquepw:10
    net accounts /lockoutthreshold:5
    net accounts /lockoutduration:15
    net accounts /lockoutwindow:15
