---
- name: Mission 4 - Installation Zabbix Server (Sur Admin)
  hosts: admin_hosts
  become: yes
  vars:
    zabbix_db_pass: "password123"
  tasks:
    - name: Installation du dépôt Zabbix (Ubuntu 22.04)
      apt:
        deb: https://repo.zabbix.com/zabbix/6.0/ubuntu/pool/main/z/zabbix-release/zabbix-release_6.0-4%2Bubuntu22.04_all.deb
        state: present

    - name: Mise à jour du cache APT
      apt:
        update_cache: yes

    - name: Installation des paquets (Serveur, Frontend, Agent, SQL)
      apt:
        name:
          - zabbix-server-mysql
          - zabbix-frontend-php
          - zabbix-apache-conf
          - zabbix-sql-scripts
          - zabbix-agent
          - mysql-server
          - python3-pymysql
        state: present

    - name: Démarrage du service MySQL
      service:
        name: mysql
        state: started
        enabled: yes

    - name: Création de la Base de Données et User Zabbix
      shell: |
        mysql -e "CREATE DATABASE IF NOT EXISTS zabbix character set utf8mb4 collate utf8mb4_bin;"
        mysql -e "CREATE USER IF NOT EXISTS 'zabbix'@'localhost' IDENTIFIED BY '{{ zabbix_db_pass }}';"
        mysql -e "GRANT ALL PRIVILEGES ON zabbix.* TO 'zabbix'@'localhost';"
        mysql -e "FLUSH PRIVILEGES;"
        mysql -e "set global log_bin_trust_function_creators = 1;"

    - name: Import du Schéma SQL (Attention c'est long !)
      shell: |
        zcat /usr/share/zabbix-sql-scripts/mysql/server.sql.gz | mysql --default-character-set=utf8mb4 -uzabbix -p{{ zabbix_db_pass }} zabbix
      # On ne le fait que si la table 'users' n'existe pas encore (pour ne pas écraser)
      args:
        creates: /var/lib/mysql/zabbix/users.ibd

    - name: Désactivation log_bin_trust (Sécurité)
      shell: mysql -e "set global log_bin_trust_function_creators = 0;"

    - name: Configuration du mot de passe DB dans Zabbix
      lineinfile:
        path: /etc/zabbix/zabbix_server.conf
        regexp: '^# DBPassword='
        line: "DBPassword={{ zabbix_db_pass }}"

    - name: Redémarrage final des services
      service:
        name: "{{ item }}"
        state: restarted
        enabled: yes
      loop:
        - zabbix-server
        - zabbix-agent
        - apache2