---
- name: Mission 4 - Installation des Agents Zabbix
  hosts: linux_nodes
  become: yes
  vars:
    zabbix_server_ip: "192.168.183.10" # L'IP de votre machine Admin
  tasks:
    - name: Installation du dépôt Zabbix (Rocky 9)
      dnf:
        name: https://repo.zabbix.com/zabbix/6.0/rhel/9/x86_64/zabbix-release-6.0-4.el9.noarch.rpm
        state: present
        disable_gpg_check: yes

    - name: Installation de l'Agent Zabbix
      dnf:
        name: zabbix-agent
        state: present

    - name: Configuration de l'Agent (Lien vers le Serveur)
      lineinfile:
        path: /etc/zabbix/zabbix_agentd.conf
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
      loop:
        - { regexp: '^Server=', line: "Server={{ zabbix_server_ip }}" }
        - { regexp: '^ServerActive=', line: "ServerActive={{ zabbix_server_ip }}" }
        - { regexp: '^Hostname=', line: "Hostname={{ ansible_hostname }}" }

    - name: Démarrage de l'Agent
      service:
        name: zabbix-agent
        state: started
        enabled: yes