- name: Disable SSH root login
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin no'
  notify: restart sshd

- name: Install & enable firewalld
  ansible.builtin.dnf:
    name: firewalld
    state: present

- name: Ensure firewalld running
  ansible.builtin.systemd:
    name: firewalld
    enabled: true
    state: started

- name: Open required ports (SSH/HTTP/SMB/Cluster/Zabbix)
  ansible.posix.firewalld:
    port: "{{ item }}"
    permanent: true
    state: enabled
  loop:
    - 22/tcp
    - 80/tcp
    - 2224/tcp     # pcsd
    - 5405/udp     # corosync
    - 445/tcp
    - 139/tcp
    - 137/udp
    - 138/udp
    - 10050/tcp    # zabbix agent
  notify: reload firewalld

handlers:
  - name: restart sshd
    ansible.builtin.systemd:
      name: sshd
      state: restarted

  - name: reload firewalld
    ansible.builtin.command: firewall-cmd --reload
    changed_when: false
